@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/notosanskannada.css);

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 63%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: floralwhite;
  border-radius: 5rem;
}

body {
  background: #010103;
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: antiquewhite;
  text-transform: capitalize;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.7rem 3rem;
  font-size: 1.7rem;
  color: antiquewhite;
  background: #d3ad7f;
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: #010103;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
}

.header .logo h1 {
  font-family: "Noto Sans Kannada", sans-serif;
  font-size: xx-large;
  color: antiquewhite;
}

.header .logo span {
  color: #d3ad7f;
}

.header .navbar a {
  margin: 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: #d3ad7f;
  border-bottom: 0.1rem solid #d3ad7f;
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: antiquewhite;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: #d3ad7f;
}

#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: antiquewhite;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: #13131a;
  text-transform: none;
  padding: 1rem;
}

.header .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #13131a;
}

.header .search-form label:hover {
  color: #d3ad7f;
}

.header .cart-item-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  width: 35rem;
  background: #fff;
  padding: 0 1.5rem;
}

.header .cart-item-container.active {
  right: 0;
}

.header .cart-item-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-item-container .cart-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #13131a;
}

.header .cart-item-container .cart-item .fa-times:hover {
  color: #d3ad7f;
}

.header .cart-item-container .cart-item .content h3 {
  font-size: 2rem;
  color: #13131a;
  padding-bottom: 0.5rem;
}

.header .cart-item-container .cart-item .content price {
  font-size: 1.5rem;
  color: #d3ad7f;
}

.header .cart-item-container .btn {
  width: 100%;
  text-align: center;
}

.home {
  min-height: 100vh;
  width: 100%;
  height: 400px;
  align-items: center;
  background: url("./images/coffee01.jpg");
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  color: antiquewhite;
}

.about .row {
  display: flex;
  align-items: center;
  background: #13131a;
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: antiquewhite;
}

.about .row .content p {
  font-size: 1.5rem;
  color: antiquewhite;
  padding: 1rem 0;
  line-height: 1.8;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border: #d3ad7f;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box h3 {
  color: antiquewhite;
  font-size: 2rem;
  padding: 1rem 0;
}

.menu .box-container .box .price {
  color: antiquewhite;
  font-size: 2rem;
  padding: 0.5rem 0;
}

.menu .box-container .box:hover {
  background: #fff;
}

.menu .box-container .box:hover > * {
  color: #13131a;
}

.contact .row {
  display: flex;
  background: #13131a;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3rem;
  color: antiquewhite;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.5px groove #d3ad7f;
}

.contact .row form .inputBox span {
  color: antiquewhite;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 90%;
  padding: 2rem;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
  background: none;
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: #13131a;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home .content .heading {
    font-size: 2.7rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 43%;
  }

  .home .content .heading {
    font-size: 2rem;
  }
}

@media (max-width: 260px) {
  html {
    font-size: 32%;
  }
}
